.custom{
   width: 850px;
   height: 600px;
  margin-left : 34%;
  margin-top : 4% ;
  background-color: yellow;
  background-repeat: no-repeat;
    background-image: url("https://static.cdninstagram.com/images/instagram/xig/homepage/phones/home-phones.png?__makehaste_cache_breaker=HOgRclNOosk")
}


